.container {
    width: 1000px;
}
.div {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
}

.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
  }
  
  .column {
    display: flex;
    flex-direction: row;
    flex-basis: 100%;
    flex: 0.3;
  }

  .double-column {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 0.7;
  }