.awards {
    width: 100%;
    background-color: whitesmoke;
}
.wrapper {
    margin: 0 auto;
    max-width: 1180px;
    width: 100%;
    padding: 0 15px;
    padding-top: 32px;
}

.flexbox {
    display: flex;
    flex-direction: row;
    margin-top: 1em;
}

.filters {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.filter-controls {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    align-items: baseline;
    height: fit-content;
    padding-top: 4px;
    margin-bottom: 24px;
}

.filter-controls > label {
    font-size: 0.75rem;
    font-weight: bold;
}

.filter-controls > button {
    height: fit-content;
    background: none;
    border: none;
    cursor: pointer;
    color: #38897e;
    font-size: 0.75rem;
    padding: 4px;
    border-radius: 4px;
    transition: all 200ms ease-out;
}

.category {
    border-bottom: 1px solid #634061;
    margin-bottom: 1.5em;
    display: flex;
    flex-direction: column;
}

.button-toggle {
    height: fit-content;
    border: none;
    background: none;
    cursor: pointer;
    font-size: 1rem;
    font-weight: bold;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    padding: 6px 0;
    width: 100%;
    margin-bottom: 1.5rem;
    outline: none;
    color: #6E6E6E;
}

.awards-container {
    width: 100%;
}

.awards-container > p {
    font-weight: bolder;
    color: #6E6E6E !important;
    line-height: 1.5em;
    margin-bottom: 24px;
}

.awards-group {
    background: white;
    padding: 1rem;
    margin: 0 0 2rem 0;
    border-top: 4px solid #634061;
}

.year {
    display: flex;
    align-items: center;
    margin-bottom: 0;
    position: relative;
    cursor: pointer;
    color: #6E6E6E;
}

.year > span {
    font-weight: normal;
    font-size: 1rem;
    margin-left: 1rem;
    font-style: italic;
    line-height: 1;
}



/* Media Q */

@media only screen and (min-width: 1024px){
.filters {
    max-width: 400px;
}
}

@media only screen and (min-width: 768px){
    .filters {
        max-width: 300px;
        padding-right: 50px;
    }
}